# Fill in your GCP project info and rename this file to ".env".

# When using Vertex AI, set these:
VERTEXAI_PROJECT=<YOUR_PROJECT_NAME>
VERTEXAI_LOCATION=<YOUR_PROJECT_LOCATION>

# Note: If Vertex AI variables are already set in your terminal/system environment, 
# you can set them to blank (e.g. VERTEXAI_PROJECT=) in your .env to "unset" them inside python
# and force fallback to using GEMINI_API_KEY.

# When using Gemini API Key set this one:
GEMINI_API_KEY=key from 1-password called 'Gemini API Key dev (Google AI Studio)'